<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 poster_background" style="background-image: url(http://image.tmdb.org/t/p/w500/<%= @tv_show.backdrop_path %>)">
        <span class="page-title-overlay"><h2><%= @tv_show.name %></h2></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div role="tabpanel" class="margin-top-md">
          <ul class="nav nav-tabs" role="tablist">
            <% @tv_show.seasons.each do |season| %>
              <li role="presentation"><a href="#season_<%= season.season_number %>" aria-controls="season_<%= season.season_number %>" role="tab" data-toggle="tab">Staffel <%= season.season_number %></a></li>
            <% end %>
          </ul>

          <div class="tab-content">
            <% @tv_show.seasons.each do |season| %>
              <div role="tabpanel" class="tab-pane fade" id="season_<%= season.season_number %>">
                <table class="table table-striped table-bordered table-hover">
                  <tbody>
                    <% season.episodes.each do |episode| %>
                      <tr>
                        <td><%= link_to episode.name, tv_show_episode_path(genre_id: @tv_show.genres.first["id"],
                                                                              tv_show_id: @tv_show.id,
                                                                              episode_number:episode.episode_number,
                                                                              season_number: episode.season_number
                                                                              ) %></td>
                        <td>
                          <%= simple_form_for episode.rating, remote: true do |f| %>
                            <%= f.input :tmdb_identifier, as: :hidden %>
                            <%= f.input :rating, label: false, input_html: {type: "rating", class: "hidden"} %>
                          <% end %>
                          <% if EpisodeHeartBeat.where(tmdb_identifier: episode.id).count == 0 %>
                            <div class="hidden">
                              <svg class="heart-icon" version="1.1" width="50px" height="25px" viewBox="0 0 90.65 85.04">
                                <path class="heart active" fill="none" stroke="#000" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                                M45.137,23.041c4.912-24.596,40.457-27.775,42.128-0.435c1.398,22.88-21.333,40.717-42.128,50.522 M45.137,23.041
                                C40.225-1.555,5.057-4.734,3.387,22.606c-1.398,22.88,20.955,40.717,41.75,50.522"/>
                              </svg>
                              <span>Messung läuft...</span>
                            </div>
                            <div class="visible">
                              <%= simple_form_for :episode_heart_beat, url: episode_heart_beats_path, remote: true do |f| %>
                                <%= f.hidden_field :tmdb_identifier, value: episode.id %>
                                <%= f.submit "Ich gucke diese Episode jetzt", class: "btn btn-primary btn-small hider-button" %>
                              <% end %>
                            </div>
                          <% else %>
                            <%= link_to "Auswertungen", tv_show_episode_path(genre_id: @tv_show.genres.first["id"],
                                                                              tv_show_id: @tv_show.id,
                                                                              episode_number:episode.episode_number,
                                                                              season_number: episode.season_number
                                                                              ), class: 'btn btn-sm statistics' %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="gradient_background" id="episode_graph"></div>
      <script type="text/javascript">
        dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Episode#');
        dataTable.addColumn('number', 'Rating');
        <% @tv_show.seasons.each do |season| %>
          <% season.episodes.each do |episode| %>
            dataTable.addRow(['<%= episode.name %>', <%= episode.rating.rating || 0 %>]);
          <% end %>
        <% end %>

        options = {
          backgroundColor: 'transparent',
          height: 300,
          series: {
            0: {
              color: '#fff',
              lineWidth: '3'
            }
          },
          animation: {
            duration: 1000,
            startup: true
          },
          chartArea: {
            width:'90%',
            height:'90%'
          },
          legend: {
            position: 'none'
          },
          hAxis: {
            baselineColor: '#cfcfcf',
            textPosition: 'none',
            gridlines: {
              color: 'transparent'
            }
          },
          vAxis: {
            gridlines: {
              color: 'transparent'
            },
            textPosition: 'none',
            minValue: 0,
            baselineColor: '#cfcfcf'
          }
        }
        line_chart = new google.visualization.ColumnChart(document.getElementById('episode_graph'))
        line_chart.draw(dataTable, options);
      </script>
    </div>
    <div class="text-center margin-top-md">
      <%= link_to 'Graph neu laden', tv_show_path(@tv_show.id), class: "btn btn-large btn-default" %>
      <div class="jumbotron margin-top-md">
        <% if @average > 0 %>
          <h1><%= @average %></h1>
          <p>Dein durchschnittliches Rating für <strong><%= @tv_show.name %></strong>.</p>
        <% else %>
          <p>Du hast noch kein Rating für <strong><%= @tv_show.name %></strong> abgegeben.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>