<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 poster_background" style="background-image: url(http://image.tmdb.org/t/p/w500/<%= @tv_show.backdrop_path %>)">
        <span class="title"><%= @tv_show.name %></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% @tv_show.seasons.each do |season| %>
        <table class="margin-top-md table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Staffel <%= season.season_number %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% season.episodes.each do |episode| %>
            <tr>
              <td><%= episode.name %></td>
              <td>
                <%= simple_form_for episode.rating, remote: true do |f| %>
                  <%= f.input :tmdb_identifier, as: :hidden %>
                  <%= f.input :rating, label: false, input_html: {type: "rating", class: "hidden"} %>
                <% end %>

                <%= link_to "Show Episode Details", tv_show_episode_path(tv_show_id: @tv_show.id, episode_number:episode.episode_number, season_number: episode.season_number ) %>
              </td>
            </tr>
          <% end %>
          </tbody>
        <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="gradient_background" id="episode_graph"></div>
      <script type="text/javascript">
        dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Episode#');
        dataTable.addColumn('number', 'Rating');
        <% @tv_show.seasons.each do |season| %>
          <% season.episodes.each do |episode| %>
            dataTable.addRow(['<%= episode.name %>', <%= episode.rating.rating || 0 %>]);
          <% end %>
        <% end %>

        options = {
          backgroundColor: 'transparent',
          height: 300,
          series: {
            0: {
              color: '#fff',
              lineWidth: '3'
            },
          },
          animation: {
            duration: 1000,
            startup: true
          },
          chartArea: {
            width:'90%',
            height:'90%'
          },
          legend: {
            position: 'none'
          },
          hAxis: {
            baselineColor: '#cfcfcf',
            textPosition: 'none',
            gridlines: {
              color: 'transparent'
            }
          },
          vAxis: {
            gridlines: {
              color: 'transparent'
            },
            textPosition: 'none',
            minValue: 0,
            baselineColor: '#cfcfcf',
          }
        }

        line_chart = new google.visualization.ColumnChart(document.getElementById('episode_graph'))
        line_chart.draw(dataTable, options);
      </script>
    </div>
    <div class="text-center margin-top-md">
      <%= link_to 'Graph neu laden', tv_show_path(@tv_show.id), class: "btn btn-large btn-default" %>
      <div class="jumbotron margin-top-md">
        <h1><%= @average %></h1>
        <p>Dein durchschnittliches Rating für <strong><%= @tv_show.name %></strong>.</p>
      </div>
    </div>
  </div>
</div>