<!DOCTYPE html>
<html>
<head>
  <title>Moviemote</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= area :head %>
</head>
<body>
  <%= area :body do %>
    <%= yield %>
  <% end %>
</body>
</html>
