<%= extends :application do %>
  <div class="row">
    <div class="col-md-3">
      <%= area :sidebar do %>
          <div class="btn-group-vertical col-md-12 pull-right" role="group" aria-label="...">
            <div class="user_image col-md-12 pull-right">
              <span class="logout"><%= render 'shared/logout_link' %></span>
              <%= image_tag current_user.image, width: '100%', class: 'img-responsive' %>
            </div>

            <button type="button" class="btn btn-default"></button>
            <button type="button" class="btn btn-default user_watchlist" data-href="<%= user_path(current_user) %>">Wishlist</button>
            <button type="button" class="btn btn-default"></button>
            <button type="button" class="btn btn-default">What i see before</button>
            <button type="button" class="btn btn-default"></button>
            <button type="button" class="btn btn-default">
              <div>Loved categories
                <input type="text" data-role="tagsinput" value="Bankrobber, Gangsterseries, Politicaldrama"/>
              </div>

            </button>

            <%= simple_form_for :tv_show_search, url: search_tv_shows_path do |f| %>
              <%= f.input :query %>
            <% end %>
          <% end %>
          </div>
    </div>
    <div class="col-md-9">
      <%= area :content do %>
        <%= yield %>
      <% end %>
    </div>
  </div>
<% end %>